.contentHeader_transaction{
    display: flex;
    align-items: center;
}
.contentHeader_balance{
    margin-left: auto;
    font-weight: 600;
}
.contentHeader_balance{
    margin-left: auto;
}
.contentHeader_balance_icon{
    margin-left: 0.25rem;
    margin-top: 0.40rem;
}
