
// .content-header {
//     background: white;
//     font-size: 1.6rem;
//     padding: 1.9rem;
//     h5{
//         margin: $s-size;
//     }
// }
.contentHeader_transaction {
    display: flex;
    align-items: center;
    min-height: 10rem;
}

.contentHeader_balance {
    margin-left: auto;
    font-weight: 600;
}

.contentHeader_balance_icon {
    margin-left: 0.25rem;
    margin-top: 0.40rem;
}