.pendingTransactions{
    width: 360px;
}
// .pendingTransactions_header{
//     h4{
//         margin: 0.5rem;
//     }
// }
.pendingTransaction_controls{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 1rem;
}
.pendingTransaction_controls_btn{
    width: 45%;
}