.user-form {
    background: white;
    box-sizing: border-box;
    font-weight: 800;
    margin: 0 auto;
    padding: 4.2rem 3rem 7.3rem 3rem;
    width: 360px;
}

.user-form__buttons {
    margin: 1.8rem auto;
    width: 45%;
}

.user-form__buttons__upper {
    margin-bottom: 1rem;
}

.user-form__message {
    font-weight: 400;
    text-align: center;
}